version: "3.8"

services:
  db:
    image: postgres:16.3
    container_name: postgres-db-portal
    restart: unless-stopped
    environment:
      POSTGRES_DB: portal
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  db-data:
